:root {
    --primary: #000000;
    --secondary: #c0995a;
    --tertiary: #ffffff;
}

.mdl-grid {
    flex-wrap: nowrap;
    border: 3px black;
    margin-left: 15px;
}
.mdl-cell--8-col {
    margin-bottom: 15px;
}

#hero {
        text-align: center;
        color: white;
        background-image: url("../assets/BForceHdv3.png");
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 370px;
}

.list-header {
    font-weight: bold;
}

.generator {
    color:var(--secondary);
    font-weight: bold;
    margin-left: 24px;
    text-align: center;
}

p {
    text-align: center;
    color:var(--primary);
    font-size: 20px;
}
#brewerySearch {
    background-color: var(--secondary);
}

#random-beer {
    text-align: center;
}

#roulette-grid {
    border-top: 5px var(--secondary);

}

.mdl-button--raised.mdl-button--colored, .random-btn {
    background-color: gold;
    color:darkgoldenrod;
    justify-items: center;
}