:root {
    --primary: #000000;
    --secondary: #c0995a;
    --tertiary: #ffffff;
}

.mdl-grid {
    border: 3px black;
    margin-left: 15px;
}
.mdl-cell--8-col {
    margin-bottom: 15px;
}

#hero {
        text-align: center;
        color: white;
        background-image: url("../assets/BForceHdv3.png");
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 370px;
}

.dropdown-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.list-header {
    text-align: center;
    font-weight: bold;
}

.brewery-list {
    display: flex;
    flex-direction: row
}

#search-results, #cityName {
    background-color: var(--secondary);
    list-style-type: none;
    margin: 5px 15px;
}

.generator {
    color:var(--secondary);
    font-weight: bold;
    text-align: center;
}

p {
    text-align: center;
    color:var(--primary);
    font-size: 20px;
}
.mdl-grid-brewers, #brewerySearch {
    background-color: var(--secondary);
}

#clear {
    margin-left: 10px;
}
#random-beer {
    text-align: center;
}

#roulette-grid {
    border-top: 5px var(--secondary);

}

.mdl-button--raised.mdl-button--colored, .random-btn {
    background-color: gold;
    color:darkgoldenrod;
    justify-items: center;
}