:root {
    --primary: #000000;
    --secondary: #c0995a;
    --tertiary: #ffffff;
}

body {
    background-color:burlywood;
    background-image: url("./pradnyal2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mdl-grid {
    border: 3px black;
    margin-left: 15px;
}
.mdl-cell--8-col {
    margin-bottom: 15px;
}

#hero {
        text-align: center;
        color: white;
        background-image: url("../assets/BForceHdv3.png");
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 370px;
}

.dropdown-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

#cityName {
    background-color: gold;
    font-size: medium;
}

.list-header {
    background-color: var(--primary);
    text-align: center;
    font-weight: bold;
    font-family: 'Alfa';
    border: 5px solid var(--primary);
    margin-left: 10px;
    color:white;
    text-shadow: 2px 1px var(--primary);
}

.brewery-list {
    display: flex;
    flex-direction: row;
    margin: 5px 75px;
}

#search-results, #cityName {
    background-color: var(--secondary);
    list-style-type: none;
    margin: 5px 15px;
}

.generator {
    color:white;
    text-shadow: 2px 2px var(--primary);
    font-family: 'Alfa';
    font-weight: bold;
    text-align: center;
    font-size: 46px;
}

p {
    text-align: center;
    color:white;
    text-shadow: 2px 1px var(--primary);
    font-size: 20px;
}
.mdl-grid-brewers, #brewerySearch {
    background-color: var(--secondary);
}

#clear {
    margin-left: 10px;
    background-color: var(--secondary);
    font-family: 'Lato';
    font-size: 15px;
}
#random-beer {
    text-align: center; 
    color:white;
}

#roulette {
    background-image: url("./pradnyalGandhiCrop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size:750px;
}

#roulette-grid {
    margin: 10px 75px;
    background-color:var(--secondary);
}

.mdl-button--raised.mdl-button--colored, .random-btn {
    background-color: gold;
    color:darkgoldenrod;
    justify-items: center;
    margin-left: 75px;
    border-radius: 5px;
}

button {
    background-color: var(--primary);
    font-size: 16px;
    color:white;
    border-radius: 5px;
}